@import "compass/reset";

body{
	background: #EEE;
}

a{
	text-decoration: none;
}

h1{
	font-size: 1.6em;
	border-bottom: 1px solid #CCC;
	margin-bottom: 30px;
}

h2{
	font-size: 1.3em;
	border-bottom: 1px dotted #AAA;
	margin-bottom: 10px;
}

p{
	line-height: 1.5em;
}

li{
	list-style-type: disc;
	line-height: 1.7em;
	margin-left: 20px;
}

input#submit_button {
 	background: #11c0a9;
	border: 1px solid #DDD;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #FFF;
	width: 100px;
	padding: 10px 0;
	cursor: pointer;
	margin-top: 20px;
}


.clear{
	clear: both;
}

header{
	width : 100%;
	height: 50px;
	background : #363332;
	a{
		color: #acfaea;
	}
	.h_wrapper{
		width: 700px;
		margin: 0 auto;
		position: relative;
		.title{
			text-align: left;
			line-height: 50px;
			position: absolute;
			font-size: 30px;
			color: #acfaea;
			background: url("../images/titlelogo.png");
			width: 162px;
			height: 48px;
			text-indent:-9999px;
		}
		.username{
			right: 50px;
			line-height: 50px;
			position: absolute;
			color: #EEE;
		}
		.edit{
			right: 0;
			line-height: 50px;
			position: absolute;
			text-decoration: underline;
		}
	}
}

.wrapper{
	width: 700px;
	margin: 30px auto;
	color: #777;
	a{
		color: #11c0a9;
		text-decoration: underline;
	}
	//Community
	.Items{
		.boxItem{
			border: 1px solid #333;
			padding: 10px;
			margin-bottom: 10px;
			.title{
				color: #11c0a9;
			}
			.text{
			}
			.user{
				background: #AAA;
				height: 40px;
				line-height: 40px;
				padding: 10px;
				margin: 20px 0 20px 0;
				div{
					float: left;
					color: #555;
					margin-right: 30px;
				}
			}
			.button{
				text-align: right;
			}
		}
	}
	//reserveQ
	.minict_wrapper{
		ul{
			float: left;
		}
		li{
			margin-left: 0;
		}
	}
	//reserveA
	.reserveA{
		width: 500px;
		margin: 0 auto;
		border-bottom: 1px solid #AAA;
		thead{
			border-bottom: 1px solid #AAA;
			font-size: 1.1em;
			line-height: 1.3em;
			tr{
				th{
					text-align: center;
					width: 200px;
				}
			}
		}
		tbody{
			tr{
				td{
					text-align: center;
					line-height: 1.3em;
				}
			}
		}
	}

}


footer{
	width: 100%;
	height: 80px;
	background: #363332;
	text-align: center;
	line-height: 80px;
	color: #EEE;
}